.Barras {
    /*background: -webkit-linear-gradient(left, rgba(240, 239, 240, 1) 10%, rgba(255, 255, 255, 1) 50%, rgba(240, 239, 240, 1) 90%);*/
}

.barras__enlace{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px 0px;
}

.Line1{
	border-radius: 1px;
	border: solid 1px #333;
}

.enlaces{
    display: flex;
    height: 100px;
    width: 300px;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: solid 1px #006;
    margin: 10px 20px;
}

.Barra__links{
    justify-content: center;
    text-decoration: none;
    color: #FF0000;
    text-align: center;
}

.Barra__links:hover{
    text-decoration: underline;
}
